In [177]:
from typing import Optional, Any
import time

In [178]:
def funcion_cubica(x:int|float) -> Optional[int|Any]:
    return x**3 - 4*x**2 + x + 6

In [179]:
class Bisection(object):
    """ 

    Parameters
    ----------
    """
    def __init__(self, eta:float|int = 0.01):
        self.eta:float = eta # %
        self.xl:int|float = 2.99
        self.xu:int|float = 1
        self.true_value:float = 2
        self.xr:int = 0
        self.Et:float|int = 100 # %
        self.iteration:int = 0
        

    def xr_value(self) -> Optional[int|float]:
        self.xr = (self.xl + self.xu)/2 
        return self.xr
    
    def check_rule(self) -> Optional[dict]:
        self.values_tabelle:dict = {}
        self.iter:list = []
        self.error:list = []
        self.value:list = []
        #Aqui debo agregar el ciclo, para hacer cambio de los valores dentro del ciclo y utilizar while, para evitar errores #
        while self.Et > self.eta:
            
            self.iteration += 1
            self.xr = self.xr_value()
            producto = funcion_cubica(self.xr)*funcion_cubica(self.xl)

            
            self.Et = (abs(self.true_value - self.xr)/self.xr)*100
            #print(f"Error:{self.Et}, \n Value: {self.xr}")
            
            self.iter.append(self.iteration)
            self.value.append(self.xr)
            self.error.append(self.Et)

            if producto > 0:
                self.xl = self.xr
            elif producto < 0:
                self.xu = self.xr
            else:
                break
                
        self.values_tabelle = {
            'Iteration': self.iter,
            'Error': self.error,
            'Value': self.value,
        }

        return self.values_tabelle

In [180]:
biseccion = Bisection()

In [181]:
data = biseccion.check_rule()

In [182]:
import pandas as pd

In [183]:
pd.DataFrame(data)

    Iteration      Error     Value
0           1   0.250627  1.995000
1           2  19.759278  2.492500
2           3  10.863510  2.243750
3           4   5.632557  2.119375
4           5   2.779888  2.057188
5           6   1.287885  2.026094
6           7   0.524577  2.010547
7           8   0.138480  2.002773
8           9   0.055695  1.998887
9          10   0.041487  2.000830
10         11   0.007081  1.999858